body{
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}
.common-link{
    text-decoration:none;
    color: black;
    display:block;
}
.common-link:hover{
    text-decoration:none;
    color: black;
}
.custom-nav{

    border: 1px solid #CC75F5;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #C04FF5;
    background: #CC75F5;

}
.navbar-brand{
    color: #400061;
    font-size: 30px;
    margin-right: 100px;
}
.navbar-brand:hover{
    color: white;

}
.navbar-toggler{
    background-color:#68198f;;
}
.navbar-toggler-icon{
    color:white;
    font-size:25px;
    padding-top: 5px;
}
.next-nav{
    display: flex;
    justify-content: space-between;
    padding:20px;
}
.header-links{
    display: block;
    text-decoration: none;
    color: #400061;
}
.header-links:hover{

    text-decoration: none;
    color: white;
}
.main-wrapper{
    padding: 50px 0;
}



footer{

    border: 1px solid #9cafbf;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #C04FF5;

}
.footer-up{
    padding:50px;
}
.copyright{
    text-align: center;
    padding: 20px;
    border: 1px solid #CC75F5;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #C04FF5;
    background: #CC75F5;
    color: #400061;
}

.ul-footer-link{
    list-style-type: none;
    padding:0;
}
.footer-link{
    color: #400061;
    text-decoration: none;

}
.footer-link:hover{

    text-decoration: none;
    color: #CC75F5;
}
.saying{
    color: #400061;
}

@media only screen and (max-width: 600px) {


}

@media only screen and (max-width: 400px) {
  .navbar-brand{

    margin-right: 2px;
}

}
